.app-header{
    background-color: rgba(0, 0, 128, 0.94);
    margin-top: auto;
    padding: 1%;
    color: #ffffff;
    font-size: 25px;
    font-weight: 900;
    text-align: left;
}

.signin-btn{
    background-color: #ffffff;
    font-size: medium;
    margin-top: 4px;
    float: right;    
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 20px; 
    padding-top: 2px;  
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    background-color:white;
    color: rgba(0, 0, 128, 0.94);
    text-decoration: none;
}

.login-page{
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 10px;
    padding: 1%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2%;
}
.login-form{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 2%;
}

hr.line{
    border-top: 2px solid red;
}

.labels{
    font-weight: bold;
    color: rgba(0, 0, 128, 0.94);
}
.password-label{
    margin-left: 3%;
}

.login-btn{
    background-color: #ffffff;
    font-size: medium;
    margin-top: 4px;
    float: right;    
    border: 2px solid rgba(0, 0, 128, 0.94);
    border-radius: 20px; 
    padding-top: 2px;  
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    background-color:white;
    color: rgba(0, 0, 128, 0.94);
    text-decoration: none;
}

.login-btn:hover{
    background-color: rgba(0, 0, 128, 0.94);
    color:white;
    border-color: rgba(0, 0, 128, 0.94);
}

.heading{
    margin:10%
}

.homeImg{
    margin-left: 30%;
}